body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, #8fd3fd, #a76cff);
    }

    .container {
        background: white;
        width: 550px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .container h2 {
        font-size: 25px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .row {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
    }

    .input {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 500;
    }

    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(141, 141, 141);
        font-size: 14px;
        outline: none;
    }

    input:focus {
        border-radius: rgb(142, 68, 255);
    }

    .gender label {
        font-weight: 500;
    }

    .gender-options {
        margin-top: 10px;
        display: flex;
        gap: 20px;
        font-size: 14px;
    }

    .register {
        width: 100%;
        padding: 12px;
        margin-top: 25px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        color: black;
        background: rgb(178, 119, 255);
    }